body{
  background-color: lightcyan;
}

h1{
  margin-top: 0;
  margin-bottom: 10px;
  color: #777;
}

h3{
  margin: 0;
  color: #BBB;
}

hr{
  margin-top: 10px;
  opacity: 0.3;
}

.App {
  text-align: left;
  padding: 20px;
}

.tweet{
  padding: 20px;
  border: 1px solid lightblue;
  margin-bottom: 20px;
  color: #444;
  font-size: larger;
}

.comment-list{
  margin-top: 5px;
  padding: 20px;
  color: #666;
  border: 1px solid #DEE;
}

.comment{
  margin-bottom: 10px;
}

.comment-add{
  display: flex;
  height: 40px;
  width: 100%;
}

.comment-add input{
  border: 1px solid lightskyblue;
  padding: 0 20px;
  flex: 1;
  color: #666;
}

.comment-add button{
  width: 100px;
  border: none;
  background-color: lightskyblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.comment-add button:active{
  background-color: white;
  color: lightskyblue;
}